@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 9999px;
}

#root {
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1rem;
}
